.App {
  text-align: center;

  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.card{
  box-shadow:10px 5px 5px gray;
  border: solid 1px rgb(228, 228, 228);
  border-radius: 10px;
  max-width: 50%;
  margin: auto;
  padding: 10px 80px 10px 80px;
  margin-top: 20px;
  color: rgb(75, 74, 74);
  display:flex;


}
.cardPharm{
  width: 50%;
  text-align: center;
}
button{
  box-shadow:10px 5px 5px gray;
  border-radius: 10px;
  margin:10px;
  padding: 5px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
}
.button button{
 color: #282c34;
}
.p{
  background:#00FF00 ;
  
}
.g{
  background: #007FFF;
}
.a{
  background: #FF8000;
}
#nom{
  color:#FF00FF;
  font-size: 60px;
}
.button{
  width: 50%;
  text-align: center;
  
}

#navbar{
  text-align: center;
  max-width: 80%;
  margin: auto;

  padding-top: 50px;
  padding-bottom:  20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
