$font-stack:    Helvetica, sans-serif;
$primary-color:#00FF00;
$rose-color: #FF00FF;
$blue-color: #007FFF;
$orange-color: #FF8000;
$gray-color: rgb(75, 74, 74);
$bold-font-weight: bold;

.App {
    text-align: center;   
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
 
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  
  }
  
 
  .card{
    background-color: white;
    box-shadow:10px 5px 5px gray;
    border: solid 1px rgb(228, 228, 228);
    border-radius: 10px;
    max-width: 50%;
    margin: auto;
    padding: 10px 40px 10px 40px;
    margin-top: 20px;
    color:$gray-color;
    display:flex;
  
  
  }
  .cardPharm{
    width: 60%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;

  }
  button{
    border: 5px solid white;
    box-shadow:10px 5px 5px gray;
    border-radius: 10px;
    margin:10px;
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    font-weight: $bold-font-weight;
    font-size: 16px;
  }

  .button button{
   color: #282c34;
  }
 button.btn{
    color: #282c34;
   }

  #villeCard{
      margin: 2px;
      color: $primary-color;
      font-weight: $bold-font-weight;

  }
  #gardeCard{
      writing-mode: vertical-rl;
      text-orientation: upright;
      margin: 2px;
      color :$blue-color;
      font-weight: $bold-font-weight;

  }

  .p{
    background:$primary-color ;    
  }
  
  .g{
    background: $blue-color;
  }

  .a{
    background: orange;
  }

  #nomCard{
    font-size: 30px;
    font-weight: $bold-font-weight;
    color:$rose-color;
  }
  .button{
    width: 40%;
    text-align: center;
    
  }
  form{
    width: 60%;
    margin: auto;
    text-align: center;
    border: $blue-color solid 2px;
    padding: 10px;
  }

  input{
    margin: 10px;
  }
  
  #navbar{
    text-align: center;
    max-width: 80%;
    margin: auto;

    padding-top: 50px;
    padding-bottom:  20px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  